html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

@font-face {
  font-family: ivyJournalSemiBold;
  src: url(fonts/37999.otf);
}

@font-face {
  font-family: ivyJournalRegular;
  src: url(fonts/38005.otf);
}

@font-face {
  font-family: ivyJournalBold;
  src: url(fonts/38006.otf);
}
#story{
  opacity: 1;
  /* width:30% ; */
  /* position: relative; */
}

.foldedInfo{
  -webkit-animation: slidein 0.5s forwards;
  -webkit-animation-delay: 0s;
  animation: slidein 0.5s forwards;
  animation-delay: 0s;
}
@-webkit-keyframes slidein {
    100% { left: 37%; }
}
@keyframes slidein {
    100% { left: 37%; }
}

.foldedInfoBack{
  -webkit-animation: slideback 0.5s forwards;
  -webkit-animation-delay: 0s;
  animation: slideback 0.5s forwards;
  animation-delay: 0s;
}

@-webkit-keyframes slideback {
    100% { left: 0%; }
}

@keyframes slideback {
    100% { left: 0%; }
}
#provideClue{
  display: block;
  margin-left: auto;
  margin-right: auto;

  background-color: Transparent;
  cursor:pointer;
  border: none;
  width: 150px;
  height: auto;
  opacity: 0.8;
}
#provideClue:hover {opacity: 1}
#provideClue:focus {outline:0;}

#sliderBtn{
    /* background-image: url('images/arrow.png'); */
    background-color: Transparent;
    cursor:pointer;
    border: none;

    position: absolute;
    margin-left: 37.9%;

    width: 65px;
    height: auto;

    
    z-index:5;
    
    top:18.5%;
    opacity: 0.8;

    /* transform: rotate(180deg); */
}

#sliderBtn:hover {opacity: 1}
#sliderBtn:focus {outline:0;}

.detailPage{
  background-color:rgba(22, 25, 28, 0.85);
  border-radius: 5px;

  width: 30%;
  height: auto;

  padding: 2.86%;
  position: absolute;
  left: 2.86%;
  top: 2.86%;
  z-index: 6;
}

.detailPage h1{
  color:rgba(255, 255, 255, 0.85);
  font-size: 26px;
  font-family:ivyJournalBold;
}
.detailPage h2{
  color:rgba(255, 255, 255, 0.85);
  margin-top: 60px;
  font-size: 16px;
  font-family:ivyJournalBold;
}
.detailPage img{
  margin: 10px 0px;
  width: 100%;
  height: auto;
}
.detailPage .notations{
  margin-bottom: -4px;
  height: auto;
  width: 75%;
}
.detailPage p{
  color:rgba(255, 255, 255, 0.5);
  font-family: ivyJournalRegular;
}
.detailPage .pReferences{
  color:rgba(255, 255, 255, 0.5);
  font-family: ivyJournalRegular;
 
  word-wrap: break-word;
  width: 100%;

}
.detailPage hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  margin: 40px 0;
}

#storyCard{
  /* display:inline-block; */
  /* position: relative; */  
  z-index:3;
  /* width: 0%; */
  /* left: 39%; */
  opacity: 0;
}

#logo{
  position: fixed;
  right:2.5%;
  top:4%;
  height:5%;
  width:auto;

  z-index: 5;
}
